.violation-title
	font-size 15px
	// font-weight bold
	text-align center
	line-height 28px
	margin-top 0px
	color #828385

.canvas-container
	display table
	margin auto
	// position relative
	
	.canvas-span
		position absolute
		top calc(50% - 13px)
		left calc(50% - 13px)
		font-size 22px

	.canvas-circle
		display block
		border-radius 50%

