.report-container
	height 100%
	overflow auto
	display initial
	
.margin-no-data
	margin 10px 10px 5px
	text-align center

.report-form
	width calc(100% - 30px)
	max-width 960px
	margin 0 auto
	padding 10px 0
	position relative
	
	.disable-form
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		background-color white
		opacity 0.5
	
	.report-title
		text-align center
		font-size 18px
		color #666
		margin 0
		
	.report-options
		width 100%
		margin 30px 0
		display table
		box-shadow 0 1px 1px 1px #DDD
		
		.option-row
			width 100%
			display table
			margin-bottom 1px
			display flex
			align-items center
			background-color #EAEAEA
			
			.option-label, .option-content
				width 20%
				float left
				color #555
				font-size 16px
				padding 0 15px
				
			.option-label
				font-size 15px
				
			.option-content
				width 80%
				color #777
				min-height 40px
				line-height 30px
				background-color #FFF
				display inline-flex
				align-items center
				
				.pr-react-select:after
					font-size xx-small
				
				.devide-width
					width 100%
					margin 5px 0
					line-height 20px
					
				.devide-width:first-child
					margin-left 0px

				.industry-area
					width calc((100% / 3) - 20px)
					margin 4px 20px 4px 0
					max-width unset
					display block
					float left

				.industry-area:last-child
					width calc(100% / 3)
					margin 4px 0
				
				.station-area
					width 40%
					margin 4px 20px
					max-width unset
					display block
					float left
					
					.pr-react-select
						.pr-options 
							.pr-option
								padding 0px 10px

							.pr-select-all
								line-height 23px

				.station-area:first-child
					margin-left 0px
					
					.pr-react-select
						width 300px
						
					.pr-react-select:after
						font-size xx-small

				.form-control
					height 30px
					width 100%
					max-width 240px
					margin 5px 60px 5px 0
					padding 0 10px
					outline none
					box-shadow none
					border-radius 0
					float left
				
				.form-control:last-child
					margin 5px 0
					
				.option
					width 20%
					display inline-block
					float left
					
					label
						margin 0 5px
						font-weight normal

				.option.lg
					width 50%

					.form-control
						width 30%
						float right
					
				.hyphen
					width 60px
					text-align center
					float left
					
				.date-time
					width 240px
					display table
					float left
					
				.pr-react-select
					background-color #FFF
					border none
					border-bottom 1px solid #dee0e9
					
				.option-duration
					margin 5px
					line-height 28px
					display inline-block
					
					.pr-react-select
						width 150px

		.option-row:last-child
			margin-bottom 0
				
	.report-form-actions
		display table
		margin 0 auto 30px
		
		.btn
			margin 0 10px
			width 120px
			border-radius 0
			border none
			
		.btn-primary
			background-color #496DF5
			opacity 0.9
			
		.btn-primary:hover, .btn-primary:active
			opacity 1

.view
	text-align center
	font-size 15px
	font-weight bold
	line-height 2

	.capitalize
		text-transform capitalize
			
.report-graph-container
	box-shadow 5px 5px 5px -5px #666
	border 1px solid #DDD
	height auto
	min-height 100px
	width 100%
	margin 10px auto 50px
	display table
	padding 15px
	background #fff

	div
		margin-bottom 25px
		
	div:last-child
		margin-bottom 0

.bold
	font-weight 500

.table-wrapper
	margin 0 auto 50px
	box-shadow 5px 5px 5px -5px #666
	background #fff

	.table-header
		background-color #eeeeee
		padding 8px
		line-height 1.42857143
		font-weight bold
		color #77778a
	
	.report-table-container
		overflow auto
		width 100%
		
		table
			margin-bottom 0px
			
			thead
				background-color #EEE !important
				
				th, td
					color #777
					text-align center
							
				th:first-child
					min-width 320px
					border none
					display block	
				
			tbody
				tr
					td
						text-align center
					
					.min-width-value
						min-width 100px
						line-height 2.4
						
					.min-width-name
						min-width 200px
					.warning-cell
						background-color: #f9df55;
.top-margin
	margin-top 15px
	
.data-avg-min-max
	display flex

	div 
		border-right 1px solid #dddddd
		width 33.33%
		min-width 100px
		line-height 2.58

	div:nth-child(3n)
		border none
.table
	background-color #fff !important
.thead
	background-color: #EEE !important
.fontcolor
	color red
.table > tbody > tr > td
	padding 7px
	vertical-align: middle
	
.table-width
	margin 0 50px 50px
	padding 0 0px
	overflow auto
	width calc(100% - 99px)
	display inline-block
	text-align center

@media screen and (max-width 767px)
	.report-form
		.report-options
			.option-row
				display table
				width 100% !important
				
				.option-label
					width 100%
					line-height 30px
					
				.option-content
					width 100%
					display block
					
					.date-time
						width 100% !important
					
					.date-time:last-child
						margin-bottom 5px

					.form-control
						width 100%
						max-width 100%
						margin 5px 0 0
						
					.form-control:last-child
						margin 5px 0 5px
						
					.option
						width 50% !important
						
						.form-control
							width calc(100% - 20px) !important
							
					.option.mob-full
						width 100%
						
					.hyphen
						width 100% !important
						line-height 20px !important
					
					.industry-area
						width 100% !important
						margin 5px auto !important
						max-width unset
						float none
						
					.station-area
						width 100%
						margin 5px auto
						max-width unset
						
						.pr-react-select
							width auto !important

@media (min-width: 768px) and (max-width 1023px)
	.report-form
		.report-options
			.option-row
				display table
				width 100%
				
				.option-label
					width 100%
					line-height 30px
					
				.option-content
					width 100%
					
					.date-time
						width 100%
						max-width 240px

					.form-control
						width 100%
						max-width 100%
						margin 5px 0 0
						
					.form-control:last-child
						margin 5px 0 5px
						
					.option
						width 20% !important
						
						.form-control
							width calc(100% - 20px) !important
							
					.option.mob-full
						width 100%
						
					.date-time, .hyphen
						margin-bottom 5px
						
					.hyphen
						line-height 35px
						
					.station-area
						margin 5px 20px
						max-width unset