html, body, #react_container, div[data-reactroot], div[data-reactroot] > div, .full-page-container, .full-height
	height 100%
	overflow auto

body
	background-color #F4F4F4

.btn, .btn-right
	text-align center
	border 1px solid
	border-radius 16px
	outline none !important

.btn-margin
	margin 0 8px

.btn-lg
	border-radius 25px
	font-size 20px

.centered-btn
	width 100%
	max-width 200px
	margin 50px auto

.btn-right, .btn-left, .decline-btn
	width 100%
	max-width 100px
	padding 0
	float right
	display none
	line-height 1.8

.btn-left
	float left
	padding 3px 30px
	width auto
	max-width 100%

.decline-btn
	color white
	width 70px
	font-size 11px

button.decline-btn:hover, button.decline-btn:active, button.decline-btn:focus
	color white !important

.grey-fill-btn
	display table
	border-color #ADABAC
	background-color #ADABAC

button.grey-fill-btn:hover, button.grey-fill-btn:active, button.grey-fill-btn:focus
	background-color #8E8C8D !important
	border-color #8E8C8D !important

.green-fill-btn
	color white !important
	display table
	border-color #18BC9C
	background-color #18BC9C

button.green-fill-btn:hover, button.green-fill-btn:active, button.green-fill-btn:focus
	color white !important
	background-color #15A589 !important
	border-color #15A589 !important

.green-border-btn
	color #999 !important
	display table
	border-color #18BC9C
	background-color transparent

button.green-border-btn:hover, button.green-border-btn:active, button.green-border-btn:focus
	color white !important
	border-color #18BC9C
	background-color #18BC9C !important

.red-fill-btn
	color white !important
	display table
	border-color #F25A59
	background-color #F25A59

button.red-fill-btn:hover, button.red-fill-btn:active, button.red-fill-btn:focus
	color white !important
	background-color #E04645 !important
	border-color #E04645 !important

.red-border-btn
	color #999 !important
	display table
	border-color #F25A59
	background-color transparent

button.red-border-btn:hover, button.red-border-btn:active, button.red-border-btn:focus
	color white !important
	border-color #F25A59
	background-color #F25A59 !important

.add-btn
	width 30px
	line-height 16px
	border-radius 50%
	padding 6px 0

	.centered-btn
		margin 15px auto

a, a:hover, a:active, a:focus
	text-decoration none

.text-bold
	font-weight bold

.page-title
	color #343A4E
	padding 10px
	margin 15px
	border-bottom 1px solid #DDD

.loading
	margin auto
	display table
	position absolute
	top 50%
	width 100%
	text-align center

.flex
	display flex
	align-items center

.err-msg
	color #f00
	text-align center
	font-size 20px

.alert
	bottom 0
	left -300px
	z-index 99
	opacity 0
	width 300px
	position fixed
	padding 10px 30px 10px 10px
	transition all ease-in-out 0.8s

.alert.active
	left 20px
	opacity 1

.hellip
	overflow hidden
	white-space nowrap
	text-overflow ellipsis

.modal.active
	display block
	background-color rgba(0,0,0,0.5)

.modal-content
	height calc(100% - 200px)
	max-height 100%
	min-height 120px
	width 100%
	max-width 500px
	margin 100px auto

	.modal-body
		height calc(100% - 120px)
		overflow auto
		
.debug-err-msg
	color #f00
	text-align center
	font-size 20px

.debug-no-data-text
	color #999
	// height 100%
	font-size 24px
	text-align center
	display flex !important

.no-data-text
	color #999
	height 100%
	font-size 24px
	text-align center
	display flex !important
	
	h1
		margin 0

.page-not-found
	margin auto
	display table
	// position absolute
	// top 45%
	width 100%
	text-align center
	
@media (max-width 767px)
	.page-not-found
		h1
			font-size 24px

.body-height
	height calc(100% - 50px)
	margin-top 50px

/* React Select Custom Styles Begins */

.Select
	.Select-control
		border-radius 0
		height auto
		font-size 12px
		border-color #d9d9d9 !important
		box-shadow none !important
		
		.Select-placeholder, .Select-value
			line-height 28px !important
		
		.Select-input
			height 28px
			width 100%
			
		.Select-input > input
			width 100% !important
			padding 6px 0
			
	.Select-menu-outer
		font-size 12px
		
.Select.Select--multi
	.Select-control
		.Select-multi-value-wrapper
			display block
			
			.Select-value
				margin 5px
				line-height normal !important
				
			.Select-input
				width auto !important
				
/* React Select Custom Styles Ends */

@media (max-width 766px)
	.btn-responsive
		width 100% !important

@media (min-width 1024px)
	.page-title
		text-align center

@media (max-width 1023px)
	.modal-content
		height 100%
		margin auto
		border-radius 0

@media screen and (min-width: 1024px)
	.col-lg-5
		width 5%
		float left
	
	.col-lg-10
		width 10%
		float left
	
	.col-lg-15
		width 15%
		float left
		
	.col-lg-20
		width 20%
		float left
		
	.col-lg-25
		width 25%
		float left
		
	.col-lg-30
		width 30%
		float left
		
	.col-lg-40
		width 40%
		float left
		
	.col-lg-50
		width 50%
		float left
		
	.col-lg-60
		width 60%
		float left
		
	.col-lg-70
		width 70%
		float left
		
	.col-lg-80
		width 80%
		float left
		
	.col-lg-90
		width 90%
		float left
		
	.col-lg-100
		width 100%
		clear both

@media screen and (min-width: 768px) and (max-width: 1023px)
	.col-md-5
		width 5%
		float left
	
	.col-md-10
		width 10%
		float left
		
	.col-md-20
		width 20%
		float left
		
	.col-md-30
		width 30%
		float left
		
	.col-md-40
		width 40%
		float left
		
	.col-md-50
		width 50%
		float left
		
	.col-md-60
		width 60%
		float left
		
	.col-md-70
		width 70%
		float left
		
	.col-md-80
		width 80%
		float left
		
	.col-md-90
		width 90%
		float left
		
	.col-md-100
		width 100%
		clear both

@media screen and (max-width: 767px)
	.col-sm-5
		width 5%
		float left
	
	.col-sm-10
		width 10%
		float left
		
	.col-sm-20
		width 20%
		float left
		
	.col-sm-30
		width 30%
		float left
		
	.col-sm-40
		width 40%
		float left
		
	.col-sm-50
		width 50%
		float left
		
	.col-sm-60
		width 60%
		float left
		
	.col-sm-70
		width 70%
		float left
		
	.col-sm-80
		width 80%
		float left
		
	.col-sm-90
		width 90%
		float left
		
	.col-sm-100
		width 100%
		clear both