#main_container
	height calc(100% - 50px)
	overflow auto
	max-width 1920px
	margin 50px auto 0
	
	.search-bar-filter
		width 100%
		
		.search-bar
			width calc(100% - 500px)
			display inline-block
			padding 0 5px 0 0
			// border-right 1px solid #000
			
			.search-svg
				position absolute
				z-index auto
				top 8px
				left 7px
				height 20px
				width 20px
				
			.search-box	
				border-radius 0!important
				box-shadow inset 0 0 0 transparent!important
				padding-left 35px
				height 35px
				border 0
				border-bottom 1px solid #ddd
				width 100%
				
		.app-filter
			display inline-block
			width 150px
			padding 0 5px 0 0
			
			.app-select
				border-radius 0
				border 0
				border-bottom 1px solid #ddd
				box-shadow 0
		
		.area-filter
			display inline-block
			width 150px
			padding 0 5px 0 0
			
			.area-select
				border-radius 0
				border 0
				border-bottom 1px solid #ddd
				box-shadow 0
			
		.more-filter
			position relative
			display inline-block
			width 75px
			padding 0 5px 0 0
			
			.more-input
				border-radius 0
				border 0
				border-bottom 1px solid #ddd
				box-shadow 0
				cursor pointer
			
			.filter-svg
				position absolute
				z-index 1
				right 7px
				top 7px
				height 20px
				width 20px
				cursor pointer

		.pin-it
			display inline-block
			width 125px
			position relative
			padding 0 5px 0 0
			
			.pin-btn
				border-radius 0px
				background-color #fff
				border 0px
				height 34px
				border-bottom 1px solid #ddd
			
			.pin-icon
				position absolute
				z-index 1
				left 7px
				top 7px
				height 20px
				width 20px
				cursor pointer
				
		.bg-box
			position absolute
			height 80%
			//overflow-y auto
			right 2px
			top 35px
			box-sizing border-box
			width 500px
			height auto
			border-radius 4px

		.background-box
			background white
			border 1px solid #ccc
			border-top-color #d9d9d9
			box-shadow 0 2px 4px rgba(0,0,0,0.2)
			box-sizing border-box
			color #222
			margin-top 2px
			position absolute
			z-index 1
			padding 10px
			padding-top 20px
			border-bottom-left-radius 0
			border-top-left-radius 0
			
			.form-control
				border-bottom-left-radius 0
				border-top-left-radius 0
				border-bottom-right-radius 0
				border-top-right-radius 0
			
			.close
				line-height 0
				outline none

			.label-font
				font-size 14px

			.label-device-accessible
				padding-top 0px !important

			.check-box-label
				font-size 14px
				line-height 1.5

			.control-label
				float left
				text-align left
				padding 8px 0px 0 45px
				width 180px
			
			.select-form
				width 175px
				display inline-block
				margin-left 15px

			.check-box-width
				min-width 160px

			.btn-top-margin
				margin-top 20px
				margin-bottom 20px

				.btn-group
					float right

					.border-radious
						border-radius 0px !important

					.btn-margin
						margin-right 10px

			.select-style
				color rgba(0,0,0,.87)
				font-size 14px
				font-weight 500
				height 30px
				background transparent
				border 1px solid transparent
				box-shadow inset 0 -1px 0 0 rgba(0,0,0,.12)
				box-sizing border-box
				display inline-block
				overflow hidden
				padding 0 12px 2px
				vertical-align middle
				min-width 110px
				cursor pointer

			.select-style:hover, .select-style:active, .select-style:focus
				border 1px dashed transparent
				box-shadow inset 0 -2px 0 0 #4285f4
			
			.firmware-select
				width 120px
			
			.firmware-version
				width 140px
				
			.manufacture-select
				width 110px
			
			.manufacture-date-time
				width 120px
			
			.configurations-changed-select
				margin-top 10px
			
			.submit-reset
				width 140px
				float right
			
			.border-radius
				border-radius 0
				border 0px

	.map-container
		height calc(100% - 35px)
		// min-height 400px
		width 100%
		float left
		
	.right-panel
		width 345px
		height calc(100% - 35px)
		overflow auto
		min-height 200px
		display inline-block
		float left
		background #fff
		margin 0 5px 0 0
		box-shadow 0 1px 1px rgba(0, 0, 0, 0.05)
		
		.panel-view
			width 100%
			height 100%
			
			.panel-header
				padding 10px
				font-size 18px
				font-weight 500
				text-align center
			
			.panel-body
				padding 10px 15px
				
				.device-detail
					padding 5px
		
	.map-width
		width calc(100% - 350px)
		display inline-block
	
	.map-height
		height 100%