.debug-form
	.debug-title
		text-align center
		
	.debug-options
		padding 15px
		
		.date-time-container
			width 100%
			max-width 400px
			display table
			margin auto
			
			.date-time-item
				padding 0 15px
				width 50%
				float left
				
	.action-buttons
		display table
		margin 0 auto 15px
		
		.btn
			border none
			border-radius 5px
			padding 5px 20px
			cursor pointer
		
		.btn:hover
			border-color transparent !important

.view-modes
	text-align right
	
	.btn
		border-color #DDD
		border-radius 5px
		padding 5px 20px
		cursor pointer
	
	.btn:first-child
		border-radius 5px 0 0 5px
		border-right 0
	
	.btn:last-child
		border-radius 0 5px 5px 0

.debug-table-container
	margin-top 15px
	
	table
		background-color white
		box-shadow 1px 1px 2px 2px #DDD
	
		tr
			td
				color inherit !important
			
			td:last-child
				font-family consolas
				
		tr.debug-0
			background-color #FFF
			color black
			
		tr.debug-1
			background-color red
			color white
				
		tr.debug-2
			background-color #ff8080
				
		tr.debug-3
			background-color orange
				
		tr.debug-4
			background-color yellow
				
		tr.debug-5
			background-color lightblue
				
		tr.debug-6
			background-color blue
			color white
				
		tr.debug-7
			background-color purple
			color white

.view-debug-data-title
	text-align center
	font-size 15px
	font-weight bold
	line-height 2

	.capitalize
		text-transform capitalize
		
.graph-container
	margin-bottom 20px
	
	.highcharts-container
		box-shadow 1px 1px 2px 2px #DDD

.box-shadow
	background-color #fff
	box-shadow 1px 1px 2px 2px #DDD

	.half-width
		width calc(100%/2)

		.pie-chart-header
			display block
			text-align center
			margin-top 10px
			box-shadow none

		.highcharts-container
			box-shadow none
