.device-list-container
	.industry-details-container
		margin-top 20px
		position relative
		display table
		width 100%

		.title-text
			padding 10px 0
			width auto
			display inline-block
			font-weight 700
			text-align left !important
			margin-bottom 5px !important
			
		.select-filter-options
			width calc(100% - 345px)
			display table
			position absolute
			/* padding 0px 0 0 15px; */
			float right
			right 0
			
	.industry-details-list
		margin 0 20px
		display block

	.industry-details-list, .device-details-list
		.title-text
			text-align center
			margin-bottom 20px
			line-height 1.5
			padding-top 20px

			.add-device
				width auto
				font-weight 700
				padding 0 5px

			.device-name:before
				content ""
				width 10px
				height 10px
				border-radius 50%
				position absolute
				margin 8px 0 8px -15px
				background-color #F25A59

			.device-name.active:before
				background-color #18BC9C

			.device-name.data-off:before
				background-color #FFBC54

		.panel
			max-width 100%
			box-shadow 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
			margin-top 20px

			.panel-body
				color #828385

			table
				tbody
					tr
						td:nth-child(3)
							max-width 200px !important
		.details-list
			margin 20px
			width calc(100% - 40px)
			
			tr
				border-bottom 1px solid #ddd
				
				th
					text-align center
					
				td
					padding 8px 8px 0px
					border-top none
					vertical-align middle
					text-align center
					
				td:nth-child(8)
					
				td:nth-child(5)
					
				td:nth-child(2)
					
				.device-status
					margin-top 5px

			.form-control
				box-shadow none

			.title-text
				text-align left
				margin-bottom 5px
				border-bottom 1px solid #ddd

			.parameter-container
				margin-bottom 15px
				border-radius 5px
				display table
				width 100%

				.config-item-border
					border-bottom 1px solid #ddd
					margin 5px 0 10px
					display table
					width 100%
					position relative

					.form-config
						width calc((100% / 7) - 10px)
						margin-right 10px
						float left
						
						.onoffswitch
							margin-top 5px

					.form-config:first-child
						width 140px

					.form-config:nth-child(7)
						width 60px

					.remove-btn
						padding 0px 10px
						color #ddd
						top 20px
						right -10px
						position absolute
						background-color transparent
						border-color transparent
						font-size 18px

			li
				border-bottom 1px solid #ddd
				display table
				width 100%
				padding 5px 0
				font-size 16px
				line-height 2

			li:last-child
				border-bottom 0 solid transparent
				display table
				width 100%
				padding 5px 0
				font-size 16px
				line-height 2

			.device-serial
				width 30px
				height 32px
				float left

			.device-status
				vertical-align middle
				padding-bottom 7px
				line-height 0.8
				
				.circle
					width 10px
					height 10px
					float left
					margin 0 5px 0 0
					border-radius 50%
					background-color #F25A59

			.device-status.active
				background-color transparent
				
				.circle
					background-color #18BC9C

			.device-status.data-off
				.circle
					background-color #FFBC54
			
			.device-error-log
				padding 7px 10px
				
				svg
					margin-top 2px
				
			.device-error-log.debug-2
				svg
					path
						fill red
					
			.device-error-log.debug-3
				svg
					path
						fill #ff8080
					
			.device-error-log.debug-4
				svg
					path
						fill orange
					
			.device-error-log.debug-5
				svg
					path
						fill yellow
					
			.device-error-log.debug-6
				svg
					path
						fill lightblue
					
			.device-error-log.debug-7
				svg
					path
						fill blue
					
			.device-error-log.debug-8
				svg
					path
						fill purple

			.device-set
				width 0
				
				.proceed
					width 32px
					height 32px
					display table
					cursor pointer
					padding 4px 2px
					line-height .7
					margin auto
					
			.inline-loading
				line-height 1
				margin-top 2px
	
			.onoffswitch
				text-align left
						
	.search-box-devices-list
		width calc(100% - 300px)
		float right
		margin 10px 0
		border-radius 4px
		color #999
		padding-left 30px
		padding-right 10px
		border 1px solid #ABABAB
		outline none
		box-shadow none
		background #FFF url("data:image/svg+xml;utf8,<svg version='1.0' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='16' height='16' viewBox='0 0 500 500' enable-background='new 0 0 500 500'><path fill='%239C9C9C' stroke='%239C9C9C' stroke-miterlimit='10' d='M218.2,23.8c7.1,1.1,14.2,2.1,21.3,3.4 c71,13.4,128.4,72,139.8,143.4c8.8,55.1-5.7,103.9-41.9,146.2c-0.8,0.9-1.5,1.8-2.4,2.9c1.2,1.3,2.3,2.4,3.4,3.5 c41.5,41.6,83,83.1,124.4,124.7c8.3,8.3,8.3,19.3,0,25.8c-1.7,1.3-3.7,2.2-5.5,3.3c-2.4,0-4.7,0-7.1,0c-3.8-2.7-8-5-11.3-8.2 c-41.4-41.2-82.7-82.5-124-123.8c-1.1-1.1-2.2-2.4-3.4-3.9c-1.5,1-2.7,1.7-3.9,2.6c-68.9,49.1-163.6,42-224.2-16.8 C17,262.4,10.7,159.5,69.5,88.2c31.2-37.8,71.7-59,120.6-63.7c0.8-0.1,1.6-0.5,2.4-0.7C201.1,23.8,209.6,23.8,218.2,23.8z  M350,200.1c0-79.5-64.8-144.6-144.3-144.4c-81.4,0.1-142.8,66-144.4,141.2c-1.7,79.3,62.2,147.4,144.3,147.5 C285,344.5,349.9,279.7,350,200.1z'/></svg>") no-repeat 7px
		
	.search-box-devices-list::placeholder
		opacity 0.5 !important

	.device-details-list
		max-width 920px
		margin auto
		float none
		padding 0
		margin-top 20px

	label
		margin-bottom 2px
		font-weight normal
		font-size 12px
		color #828385

	.title-text
		color #727a9f
		margin 0 0 10px
		overflow hidden
		white-space nowrap
		text-overflow ellipsis

	a, a:active, a:focus, a:hover
		text-decoration none

	ol,ul
		margin-top 0
		margin-bottom 10px

	.industry-details
		padding 20px 30px
		color #828385

	.add-new
		width 80px !important
		float left !important

	.green-fill-btn
		color #fff !important
		display table
		border-color #18bc9c
		background-color #18bc9c

	button.green-fill-btn:disabled
		cursor not-allowed
		opacity 0.5

	.btn-left, .btn-right, .decline-btn
		max-width 100px
		float right
		line-height 1.8

	.btnn, .btn-right
		text-align center
		border 1px solid
		border-radius 20px
		outline none!important
		width 37px
		color #F5F6F8

	.btn-width
		width 80px

	.panel-default
		border-color #ddd

	.panel
		border 1 solid transparent
		margin auto auto 20px
		border-radius 4px
		box-shadow 0 1px 1px rgba(0,0,0,.05)

	.pull-left
		float left

	.separator
		margin-bottom 0

	.form-config
		margin-bottom 15px !important

	.form-row-config
		height 55px !important
		display flex
		-webkit-box-align center
		align-items center
		position relative

	button.red-fill-btn:active, button.red-fill-btn:focus, button.red-fill-btn:hover
		color #ababab !important
		border-color transparent

	.access
		margin-right 10px
		margin auto

	.right
		left: 20px

	.access-center
		display flex
		align-items center
		margin-top 20px

	/*Style for Tab*/

	.tab-container
		padding 20px 20px 0
		display table
		margin 0 auto 20px
		text-align center
		border-bottom 1px solid #4d5778
		
		.tab-item
			color #5b678a
			font-size 16px
			padding 5px 30px
			display inline-block
			border-bottom 2px solid transparent
		
		.tab-item:hover
			border-bottom 2px solid #dbdbdb
			cursor pointer
		
		.tab-item.active
			font-weight bold
			border-bottom 2px solid #4d5778

	.waiting-for-response
		display flex
		margin-left 600px
		line-height 1

		.device-response
			float right
			padding-left 10px

	.qr-code-input
		padding-right 0
		display flex
		align-items center

	.input-group-button-copy
		vertical-align middle
		display table
		cursor pointer
		margin-left 10px

		.btn-tranparent-bg
			background-color transparent
			border 0
			opacity 0.5
			outline none

		.btn-tranparent-bg:hover
			background-color transparent
			border 0
			opacity 1

	.no-of-device
		width 208.5px
		float left
		padding 0 15px 0 0
		
		.title-text
			padding 0
			margin 0 !important
			line-height 54px

	.btn-add-new-device
		border-radius 15px
		font-size 18px
		border 0 solid transparent
		max-width 28px
		line-height 1.2
		font-weight bold
		height 25px
		width 25px

	.device-auth-token
		font-family consolas
		font-weight bold


	.form-group.error
		position relative

		.form-control
			border 1px solid red

	.form-group.error:after
		content 'Invalid Input'
		position absolute
		background-color red
		color white
		padding 2px 4px
		border-radius 4px
		right 15px
		top 1px
		z-index 9
		font-size 11px

	.form-config.error
		position relative

		.form-control
			border 1px solid red

	.form-config.error:after
		content 'Invalid Input'
		position absolute
		background-color red
		color white
		padding 2px 4px
		border-radius 4px
		right 0px
		top 56px
		z-index 9
		font-size 11px

	.adv-search
		position relative
		display flex
		border-collapse separate

		.svg-search
			position absolute
			z-index 9
			top 7px
			left 7px
			height 20px
			width 20px

		.search-box-group
				border-radius 4px !important
				box-shadow inset 0 0px 0px rgba(0, 0, 0, 0) !important
				padding-left 35px
				padding-right 35px

		.close-icon
			z-index 9
			position absolute
			right 12px
			top 5px
			font-size 30px
			outline none

	.input-group-btn
		display flex !important

	.svg-filter
		position absolute
		z-index 9
		right 7px
		top 16px
		height 20px
		width 20px
		cursor pointer

	.bg-box
		position absolute
		right 0px
		top 35px
		box-sizing border-box
		width calc(100% - 300px)
		height auto
		border-radius 4px

	.background-box
		background #fff
		border 1px solid #ccc
		border-top-color #d9d9d9
		box-shadow 0 2px 4px rgba(0, 0, 0, .2)
		box-sizing border-box
		color #222
		margin-top 9px
		position absolute
		z-index 2300
		padding 10px
		padding-top 15px

		.label-font
			font-size 14px

		.label-device-accessible
			padding-top 0px !important

		.check-box-label
			font-size 14px
			line-height 1.5

		.control-label
			float left
			text-align left
			padding 8px 0px 0 45px

		.check-box-width
			min-width 160px

		.btn-top-margin
			margin-top 20px
			margin-bottom 20px

			.btn-group
				float right

				.border-radious
					border-radius 0px !important

				.btn-margin
					margin-right 10px

		.select-style
			color rgba(0,0,0,.87)
			font-size 14px
			font-weight 500
			background transparent
			border 1px solid transparent
			box-shadow inset 0 -1px 0 0 rgba(0,0,0,.12)
			box-sizing border-box
			display inline-block
			overflow hidden
			padding 0 12px 2px
			vertical-align middle
			min-width 266px
			cursor pointer
			border-radius 0px

		.select-style:hover, .select-style:active, .select-style:focus
			border 1px dashed transparent
			box-shadow inset 0 -2px 0 0 #4285f4

	.configure-device
		width 30px
		margin auto
		cursor pointer

		svg
			fill #9e9494
			stroke #9e9494
			
		svg:hover, svg:focus
			fill #2673B5
			stroke #2673B5

	.syncing-status
		cursor pointer

.industry-details-list .details-list .device-config .proceed:hover svg path
	fill none !important

/*Modal style*/
.modal
	display block
	background-color rgba(192,192,192,0.5)
	text-align center
	overflow auto
	
	@media (min-width: 768px)
		.modal-dialog
			width 420px
			margin 30px auto
			padding 70px 0
			text-align center

	.modal-header-add
		color #fff
		padding 2px 12px !important
		border-bottom 1px solid #eee
		background-color #0E64AD
		-webkit-border-top-left-radius 5px
		-webkit-border-top-right-radius 5px
		-moz-border-radius-topleft 5px
		-moz-border-radius-topright 5px
		border-top-left-radius 5px
		border-top-right-radius 5px

		.close
			outline none
			margin 8px 2px
			
		.modal-title-add
			color #FFF
		
	.add-modal-body
		min-height 80px !important

		.sync-body
			text-align center
			padding 15px 45px
			font-size 18px
			color #000

	.modal-body
		.station-header
			display inline-block
			border-bottom 1px solid #ddd
			margin-bottom 5px
			margin-top 8px

		.station-header:first-child
			margin-top 2px

		.no-stations
			text-align center
			font-size 15px
			color #999
			margin 10px

		.loading
			position relative

		input[type="checkbox"]
			margin 0

		.station-label
			line-height 20px
			margin 2px 0 0 3px
			color #666

	.modal-footer
		.btn
			border-radius: 3px
			border: 0
	.border-zero
		.btn
			border 1px solid #ccc

	.modal-select-label
		float left
		text-align left
		padding 15px 45px
		font-size 14px
		
	.modal-selectbox
		margin 8px