#device-debug
	height 100%

	.table
		.min-width-md
			min-width 197px

	.debug-container
		background-color #F5F6F8
		max-width 1920px		
		margin-top 50px
		height calc(100% - 50px)

		.container
			margin-top 0
			width 100%

		.debug-form
			margin 20px 0 15px

			.form-control
				border-radius 0px
				box-shadow none

			.form-padding
				padding-left 0

			.col-sm-3:nth-child(2)
				width calc(25% - 15px)

			.btn-crisp
				border-radius 0px
				border 0px
				outline none !important
				padding 5px 25px
				margin-top 2px

		.height-bottom-row
			height calc(100% - 175px)
			min-height 300px

		.panel
			max-width 400px
			margin auto auto 20px
			background-color #FFF
			box-shadow 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23)
			border 0px

			.panel-heading
				padding 2px 10px
				background-color #ece6e6
				border-bottom none

				.debug-table-header
					font-size 16px
					line-height 30px

			.panel-body
				padding 10px
				color #333	

			.default-height
				height 152px			

		.height-main-container
			height calc(100% - 84px)

		.height-panel
			height calc(100% - 20px)

		.fixed-height
			height calc(100% - 50px)

		.btn-icon
			border none !important
			padding 1px !important
			background none !important
			vertical-align middle !important

		.sort-btn
			cursor pointer
			vertical-align middle !important

			span
				margin-left 5px

		.sort-btn:hover
			background-color #ddd

			.sort-btn-aesc, .sort-btn-desc
				fill rgba(51, 51, 51, 0.5)

		.sort-active
			background-color #ddd

		.sort-active:hover
			.sort-btn-aesc, .sort-btn-desc
				fill rgba(51, 51, 51, 1)

		.sort-btn-aesc
			transform rotate(270deg)

		.sort-btn-desc
			transform rotate(90deg)

		.container
			margin-top 20px
			
		.center
			text-align center
			
		.no-data-text
			color #999
			font-size 24px
			padding 150px 0
			text-align center

		.panel
			max-width: 100% !important
			border-radius 0px

			.panel-heading
				border-radius 0px  
			
		.margin-right-sm
			margin-right 5px

		.margin-top-sm
			margin-top 10px

		.margin-top-md
			margin-top 15px

@media (max-width 767px)
	#device-debug
		.debug-container
			.debug-form
				.form-padding
					padding-left 15px

				.col-sm-3:nth-child(2)
					width 100%