#vendor_device_configuration
	max-width 100%
	padding 50px 0 15px
	background-color #f8f8f8
	// color #555555
	letter-spacing 0.05em
	
	div['data-reactroot']
		height 100%
		
	div['data-reactroot'] > .loading
		height calc(100% - 80px)
	
	.page-title
		text-align center
		color #343a4e
		padding 10px
		margin 15px
		border-bottom 1px solid #ddd
		font-size 24px
		font-weight 500
	
	.new-configuration-form
		width 100%
		margin 10px auto 0
		position relative

		.flex
			display flex
			align-items center
			
		.power-line-height
			line-height 1px
		
		.title-text
			color #666
			margin 20px 0 10px 20px
			overflow hidden
			white-space nowrap
			text-overflow ellipsis
			font-size 18px
		
		.less-margin
			margin-left 20px
			font-weight bold
			
		.onoffswitch
			position relative
			width 70px
			-webkit-user-select none
			-moz-user-select none
			-ms-user-select none
			margin 3px 0
			display inline-flex

		.onoffswitch-checkbox
			display none

		.onoffswitch-label
			display block !important
			overflow hidden
			cursor pointer
			border 2px solid #ddd
			border-radius 20px
			margin-bottom 0 !important
			padding-bottom 0 !important

		.onoffswitch-inner
			display block
			width 200%
			margin-left -100%
			transition margin 0.3s ease-in 0s

		.onoffswitch-inner:before, .onoffswitch-inner:after
			display block
			float left
			width 50%
			height 15px
			padding 0
			line-height 16px
			font-size 9px
			color #fff
			font-family Trebuchet, Arial, sans-serif
			font-weight bold
			box-sizing border-box

		.onoffswitch-inner:before
			content "ON"
			padding-left 9px
			background-color #2673b5
			color #fff
			
		.onoffswitch-content:before
			content "TCP" !important
			background-color #008000 !important

		.onoffswitch-inner:after
			content "OFF"
			padding-right 5px
			background-color #ccc
			color #fff
			text-align right
		
		.onoffswitch-content:after
			content "HTTP" !important
			background-color #2673b5 !important
			
		.onoffswitch-top
			top 11px !important

		.onoffswitch-switch
			display block
			width 15px
			height 15px
			background #fff
			position absolute
			top 0px
			bottom 0
			right 34px
			border 2px solid #ddd
			border-radius 50%
			transition all 0.3s ease-in 0s

		.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner
			margin-left 0

		.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch
			right 0
		
		.power-svg
			padding-left 40px

		.access-station
			.onoffswitch
				width 50px

				.onoffswitch-switch
					top 0
					height 16px
					width 16px
					right 33px
			
		.consolas
			font-family consolas
			font-size 14px
			padding-left 5px
			
		.alert-parameter
			margin-left 20px
			font-size 12px
			
		.in-ganga
			padding-top 35px !important
			
		.input-group-button-copy
			vertical-align middle
			display table
			cursor pointer
			margin-left 10px
			
			.btn-tranparent-bg
				background-color transparent
				border 0
				opacity 0.5
				outline none

			.btn-tranparent-bg:hover
				background-color transparent
				border 0
				cursor pointer
				opacity 1
			
		.padding-left
			padding-left 20px !important
		
		label
			margin-bottom 2px
			font-weight normal
			font-size 12px
			color #666
			padding-bottom 2px
			display table
			
		.text-right
			text-align end
			
		.disabled-value
			font-size 14px
			line-height 28px

		.form-control
			box-shadow none
			background-color #FFF
			// width calc(100% - 10px)
			height 30px
			padding-left 10px
			border 1px solid #ddd
			outline none
			border-radius 0
			color #333
			
		input.form-control::placeholder
			color #666
			opacity 0
			
		select.form-control
			padding 6px 4px

		.form-control.green-border-btn
			background-color white
			border-radius 16px
			padding 6px 20px

		.form-control.green-border-btn:hover, .form-control.green-border-btn:active, .form-control.green-border-btn:focus
			border-color #15A589
			
		button.green-border-btn:active, button.green-border-btn:focus, button.green-border-btn:hover
			color #fff !important
			border-color #18bc9c
			background-color #18bc9c !important
			
		button.green-fill-btn:active, button.green-fill-btn:focus, button.green-fill-btn:hover
			color #fff !important
			background-color #15a589 !important
			border-color #15a589 !important
			
		.green-fill-btn.centered-btn, .red-fill-btn.pull-right
			display inline
			margin 20px 0 0 0
			
		.btn.active, .btn:active
			outline 0
			background-image none
			box-shadow inset 0 3px 5px rgba(0,0,0,.125)
			
		.btn, .btn-right
			text-align center
			border 1px solid #18bc9c
			border-radius 16px
			outline none !important
			
		.btn-left, .btn-right, .decline-btn
			width 100%
			max-width 120px
			padding 4px 8px
			float right
			line-height 1.8
			font-size 12px
			margin-right 10px
		
		.green-border-btn
			color #999 !important
			display table
			border-color #18bc9c
			background-color transparent
			float left
			width auto
			max-width none
			margin 15px 20px 0
			padding 2px 20px
			font-size 12px
			
		.green-fill-btn
			color #fff !important
			display table
			border-color #18bc9c
			background-color #18bc9c
			
		.green-fill-btn.centered-btn, .red-fill-btn.pull-right
			display inline
			margin 20px 0 15px

		.form-group
			height auto
			padding 10px 0 10px 20px

		.hyphen
			padding-left 10px
		
		.parameter-container, .analyser-container
			border 1px solid #DDD
			padding 15px 0
			margin-bottom 15px
			border-radius 5px
			display table
			width 100%
			
			.parameter-item, .analyser-item
				border-bottom 1px solid #DDD
				position relative
			
			.row:first-child
				.form-group
					padding 0 0 0 20px

				.padding-range
					padding 0 0 0 20px !important
					
		.analyser-container
			padding 0
				
			.analyser-item
				margin-top 15px
				
			.green-border-btn
				margin 15px 20px

			.analyser-status
				.Select--single
					width calc(100% - 20px)

		.form-group.last.remove.param, .form-group.last.remove.analyser
			height 45px
			line-height 1
			display inline-flex
			align-items flex-end
			padding-right 20px
			float right
			position absolute
			right 0
			
			.remove-param
				color #ABABAB
				cursor pointer
				width 20px
				height 17px
				text-align center
				font-size 16px
			
			.remove-param:hover
				color #666

		.analyser
			.remove-param
				margin 0px 25px

		.param
			.remove-param
				margin 0px 38px
		
		.form-group.last.remove.analyser
			height 68px

		.form-group.first
			padding-left 15px
			display -webkit-box
			float left
		
		input, select, textarea
			font-size 14px
			
		.daily-alerts
			display flex
			padding-left 40px
			
			input[type='checkbox']
				margin 0 10px 0 0
			
		.daily-alerts:first-child
			padding-left 0px
			
		.less-padding-top
			padding-top 10px
			padding-left 0px
			
		.inline-loading
			float right
			margin 30px 20px
			
			.form-cover
				position absolute
				top 0
				right 0
				bottom 60px
				left 0
				background-color rgba(255, 255, 255, .5)
			
			span
				color #666
				font-size 14px
				margin-left 10px

	.row
		margin-left 0 !important
		margin-right 0 !important
		display table
		width 100%
		clear both
		
	.hyphen:before
		content '-'
		line-height 30px
		width 30px
		font-size 16px

	.form-group
		margin-bottom 0px

/*Alerts User Dropdown*/

	.user-contact
		margin 20px 0 5px
		padding 10px 40px 10px 10px
		border-top 1px dashed #7A7AA4
		border-right 1px dashed transparent
		border-bottom 1px dashed transparent
		border-left 1px dashed transparent
		position relative
		
	.user-contact:hover
		background-color #F2F2F4
		border 1px dashed #7A7AA4
		
	.user-contact:hover + .user-contact
		border-top-color transparent

	input[type='checkbox']
		margin 0 5px
		
	.alert-label
		margin 5px 20px 0 0
		font-weight normal
		color #333
		
	.close-btn
		position absolute
		right 2px
		top 25px
		padding 5px
		line-height 0.8
		color #ababab
		font-size 16px
		cursor pointer
		
	.close-btn:hover
		color #666
		
	.stack-items
		width 100%
		display table
		margin 0 auto 8px auto
		position relative
				
		.stack-item
			width calc(50% - 20px)
			float left
			padding 0 20px 0 0

			.stack-image
				height 28px
				width 28px
				padding 8px
				line-height 10px
				float left
				background #343a4e

				img
					height 100%
			
			.param-limit
				width 100% !important
			
			.param-limit-select
				width 100% !important
				height 29px
				outline none
				border 0px
				padding 0 10px
				font-size 14px !important
				color #797979
				letter-spacing 1px

			.stack-input
				float left
				width calc(100% - 30px)

				input
					line-height 26px
					padding 0 10px
					border 1px solid #DDD
					box-shadow none
					outline none
					background #FFF
					width calc(100% - 20px)
			.remove
				position absolute
				padding 4px 8px
				color #ccc
				cursor pointer
				outline none
				font-size 16px

			.remove:hover, .remove:focus
				color #999
				
	.alerts-title
		margin-left 20px
		font-size 13px
		margin-bottom 2px
		font-weight normal
		padding-bottom 2px
	
	.alert-settings, .param-threshold-settings
		width calc(100% - 450px)
		margin-top 15px
		color #555
		font-size 14px
		// height 500px
		display block
				
		.alert-table-body-height
			height calc(100% - 45px)
		
		.alerts-type
			display block
			text-align center

		.station-alert-details
			width 100%
			float left
			margin 0 15px
			padding 15px
			background-color #fff
			box-shadow 0 1px 1px 1px #ddd
			height 100%

			.alerts-no-data-text
				color #999
				font-size 24px
				text-align center
				height calc(100% - 40px)
				width 100%
				display flex
				align-items center

				.alerts-center
					width 100%
			
			.alert-table
				height 100%
			
			.alerts-content-table
				width 100%
			
			.alert-details-table
				min-width 650px
				padding-left 0
				padding-right 0
							
				.table-head-alerts
					background-color #E4E8F1
					border 1px solid #E4E8F1
					border-collapse collapse
					padding 5px 0
					font-weight bold
				
				.line-height-alerts
					line-height 3
					
				.border-alerts
					border-right 1px solid #d6d1d1
					border-left 1px solid #d6d1d1
				
				.alerts-industries
					width calc(100% / 3)
					text-align center
					
					.block
						display block
					
				.alerts-cpcb
					width 100%
					text-align center
					
				.table-body-alerts
					margin-bottom 10px
					margin-top 10px
				
				.select-all-row-alerts
					border-bottom 1px solid #E4E8F1
					padding-bottom 5px
					
					.select-all-alerts
						font-weight 500

	.param-threshold-settings
		.param-threshold-details
			width 100%
			float left
			margin 0 15px 25px
			padding 15px
			background-color #fff
			box-shadow 0 1px 1px 1px #ddd
			height 100%
		
		.param-threshold-table-head
			background-color #E4E8F1
			border 1px solid #E4E8F1
			border-collapse collapse
			padding 5px 0
			font-weight bold
		
		.threshold-width
			width 100%
			
		.width-control-5
			width calc(100%/5)
			margin 0px 10px
			
			.width-control-input-span
				width calc(100% / 2 - 10px)
				margin 0px 5px
				float left
		
		.width-control-3
			width calc(100%/3)
			margin 0px 10px

			.width-control-input-span
				width calc(100% / 2 - 10px)
				margin 0px 5px
				float left
		
		.threshold-row
			margin-bottom 10px
			margin-top 10px
			
			.sub-row
				width 100%
		
		.edit-value
			text-align center
			border 0px
			border-bottom 1px solid #ddd
			outline none
			width calc(100% - 90px)
			margin 0 10px
		
		.threshold-center
			display block
			text-align center

.dropdown-solid-border, .dropdown-dotted-border, .dropdown-dashed-border
	border none
	border-bottom 1px dashed #afb1b0
	color #5b5b5d
	font-size 18px
	margin 0 auto
	width 100%
	text-align center
	text-align-last center
	max-width 280px
	border-radius 0
	text-align center
	outline none
	appearance none
	box-shadow none !important
	background url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxNXB4IiBoZWlnaHQ9IjE1cHgiIHZpZXdCb3g9IjAgMCAyNTUgMjU1IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNTUgMjU1OyI+PHBvbHlnb24gZmlsbD0iI0RERCIgcG9pbnRzPSIwLDYzLjc1IDEyNy41LDE5MS4yNSAyNTUsNjMuNzUiLz48L3N2Zz4=') no-repeat calc(100% - 5px)

.dropdown-solid-border:after, .dropdown-dotted-border:after, .dropdown-dashed-border:after
	content '1'
	height 100%
	width 20px
	background-color #DDD

.dropdown-solid-border
	border-bottom 2px solid #afb1b0