.navbar
	border-radius 0
	min-height auto
	margin-bottom 0
	z-index 999

.navbar-inverse
	background-color #121421
	border none
	position fixed
	width 100%
	top 0
	height 50px
	z-index 99

.navbar-header
	color white
	width 100%
	line-height 50px
	font-size 16px
	display flex
	
	.modules-dropdown
		position relative
		display inline-flex
		cursor pointer
		
		svg
			padding 4px
			margin 10px 0
		
		.dropdown-menu
			display none
			position absolute
			top 50px
			text-align left
			background-color white
			padding 5px 0
			margin-bottom 0
			min-width 225px
			border 1px solid #DDD
			box-shadow 1px 1px 4px #8E8C8D

			a
				color #8E8C8D
				padding 5px 10px
				line-height 2
				font-size 16px
				cursor pointer
				display flex
				align-items center
				text-decoration none
				
				svg
					padding 0
					border none
					margin-right 10px
					background-color transparent
					
					path.smoke
						fill #999
						
					path.fill
						fill white

			a:hover, a.active
				color #666
				background-color #F5F6F8
				
				svg
					path:not(.smoke)
						fill #15A589
					
					path.smoke
						fill #888
						
					path.fill
						fill white
				
			a.active
				background-color #DDD

		.dropdown-menu:before
			content ''
			display table
			float left
			margin -15px 0 0 8px
			border-top 5px solid transparent
			border-right 5px solid transparent
			border-bottom 5px solid white
			border-left 5px solid transparent
	
	.modules-dropdown.active
		svg
			background-color white
			
			path
				fill #121421
				color #121421
		
		.dropdown-menu
			display block
			
	.client-module
		height 50px
		float left
		padding 5px 0
		margin-left 30px
		
		.client-name
			line-height 1.5
			
		small
			font-size 12px
			line-height 1
			display block

.navbar-menu
	position absolute
	right 15px
	height 50px
	padding 4px 14px 0
	margin 3px 0
	text-align right
	cursor pointer

	.dropdown-toggle
		width 22px
		height 22px
		display block
		cursor pointer
		opacity 0.8
		background-color #fff
		margin-bottom -1px
		color #121421
		font-size 16px
		line-height 22px
		border-radius 50%
		text-align center
		margin-right 6px
		float right
		transition all ease-in-out 0.2s
		
	.dropdown-label
		color #fff
		opacity 0.8
		font-size 12px
		cursor pointer
		margin-top 3px
		display block
		line-height 1

	.dropdown-menu, .notification-list
		display none
		list-style none
		margin-top 7px
		text-align left
		background-color white
		padding 10px 0
		margin-bottom 0
		min-width 150px
		box-shadow 1px 1px 4px rgba(0,0,0,0.2)
		border-radius 2px
		border 1px solid rgba(100, 100, 100, .4)

		.username
			margin 0 10px 5px
			padding 0 5px 5px
			border-bottom 1px solid #DDD

			div
				font-size 15px
				font-weight 500

			small
				color #8E8C8D

		.account-links
			color #333
			font-weight 400
			padding 5px 10px
			font-size 13px
			cursor pointer
			display block
			text-decoration none

		.account-links:hover
			background-color #4f74ff
			color #fff
		
	.notification-list
		cursor default
		text-align center
		padding 5px 0 0
		width 320px
		position absolute
		right 5px
		border 1px solid rgba(67, 76, 118, .4)

		.notifications, .notification-loading
			height 376px
			max-height 376px
		
			.notification-item
				border-bottom 1px solid #DDD
				cursor pointer
				text-align left
				margin 0 10px
				padding 10px 15px 6px
					
				.station-name
					width 100%
					font-size 14px
					margin-bottom 5px
				
				.station-name.icon-circle:before
					margin 5px 10px 0 0
						
				small
					color #777
					text-align right
					display block
					font-size 11px
					font-weight 400
			
			.notification-item:last-child
				border-bottom none
		
		.notification-loading
			display flex
			
			.no-notifications-text
				width 100%
				display table
				margin auto
				color #80807D
			
		.view-all
			text-decoration none
			font-size 13px
			text-align center
			padding 5px 0
			width 100%
			display table
			background-color #f1f4ff
			border-bottom-left-radius 2px
			border-bottom-right-radius 2px
			border-top 1px solid #dbdfec
			opacity 0.9

		
		.view-all:hover
			opacity 1

	.dropdown-menu:before, .notification-list:before
		content ''
		display table
		float right
		margin -19px 3px 0 0
		border-top 2px solid transparent
		border-right 8px solid transparent
		border-bottom 8px solid #fff
		border-left 8px solid transparent
		
	.notification-list:before
		float none
		position absolute
		right 22px
		margin -14px 11px 0 0

.navbar-menu.active, .navbar-menu:hover
	.dropdown-toggle, .dropdown-label
		opacity 1

.navbar-menu.active
	.dropdown-menu, .notification-list
		display block

.navigation-links
	position fixed
	right 70px
	top 0

	.link
		position relative
		width 50px
		height 50px
		padding 8px 6px 4px
		margin 0 5px
		display block
		text-align center
		float left
		opacity 0.75
		cursor pointer
		transition all ease-in-out 0.2s
		
		label
			font-size 12px
			font-weight 100
			color white
			display block
			margin-top 3px
			margin-bottom 0
			line-height 1
			cursor pointer
			
		svg
			display block
			margin auto
			text-align center

		.badge-count
			position absolute
			background red
			top 3px
			text-align center
			line-height 1
			font-size 9px
			border-radius 7px
			color #fff
			padding 2px 5px
			left 50%
	
	.link.dashboard
		width 70px
		
	.link.reports, .link.settings, .link.status, .link.devices, .link.spcb, .link.cpcb, .link.dmd
		width 65px
		
	.link.notifications
		width 100px
		margin-right 0
		padding-right 0

	.link:hover, .link.active
		opacity 1
		text-decoration none !important

	.link.active
		svg
			.fill
				fill white
				stroke none
				
			.unfill
				fill #121421
				stroke #121421
				
			.inactive
				display none

.alert
	bottom 0
	left -300px
	z-index 99
	opacity 0
	width 300px
	position absolute
	padding 10px 30px 10px 10px
	transition all ease-in-out 0.8s

.alert.active
	left 20px
	opacity 1
	
.mobile-navigation-container
	display none
	
@media screen and (min-width 1024px)
	.navbar-menu
		.profile-label
			font-size 11px
			margin-top 5px
			text-align right
			padding-right 3px
			
		.dropdown-menu:before
			margin -19px 8px 0 0
	
@media screen and (max-width 1023px)
	.navbar-header
		width auto
		text-align center
		margin 0 0 0 calc(50% - 68px) !important
		float left
		
	.menu-hamburger
		position absolute
		top 15px
		left 15px
		width 30px
		cursor pointer
		transition all ease-in-out 0.3s
		
		div
			height 3px
			border-radius 3px
			margin-bottom 6px
			background-color #FFF
			transition all ease-in-out 0.3s
		
		div:last-child
			margin-bottom 0
		
	.menu-hamburger.active
		margin-top 8px
		
		div
			margin-bottom 0
		
		div:first-child
			transform rotate(45deg)
		
		div:last-child
			transform rotate(-45deg)
			margin-top -6px
		
		div:nth-child(2)
			opacity 0
			
	.mobile-navigation-container
		display block
		position absolute
		top 0px
		bottom 0
		left -240px
		right auto
		z-index 9
		background-color rgba(0, 0, 0, 0.5)
		transition all ease-in-out 0.3s
			
		.mobile-navigation
			background-color #FFF
			width calc(100% - 30px)
			max-width 240px
			height 100%
			box-shadow 0 0 3px 3px #666
			overflow auto
			
			.navigation-header
				background-color #EAEAEA
				box-shadow 0 1px 1px 1px #DDD
				padding 10px
				text-align center
				
				.client-name
					font-size 16px
					font-weight bold
					color #496DF5
					
				.client-module
					color #888
					
			.navigation-menu
				height calc(100% - 70px)
				margin-top 8px
				padding 15px 0
				
				.menu-item
					display inline-flex
					width 100%
					padding 10px 0
					
					.menu-icon
						width 24px
						height 24px
						margin 0 15px
						
					.menu-label
						color #666
						font-size 16px
						width calc(100% - 54px)
				
				.menu-item.active
					background-color #F5F6F8
					
					.menu-icon
						svg
							path, g, .fill
								fill #496DF5
								stroke #496DF5
								
							.unfill
								fill #FFF
								stroke #FFF
			
	.mobile-navigation-container.active
		left 0
		right 0
		
	.navbar-menu
		.dropdown-toggle
			margin-right 0 !important