.pr-react-select
	padding 0 10px
	cursor pointer
	position relative
	color #797979
	background-color #DEE0E9
	z-index 9
	font-size 14px
	font-family 'PT Sans', sans-serif

	.pr-placeholder
		line-height 30px
		display inline-block
		width calc(100% - 30px)

	.pr-selected-items
		line-height 30px
		display block
		width calc(100% - 10px)

		.pr-selected
			line-height 24px
			background-color #FAFAFA
			margin-right 5px
			padding 2px 4px

		.pr-selected:last-child
			margin-right 0
			
	.pr-options
		display none
		position absolute
		max-height 300px
		width calc(100% - 2px)
		overflow auto
		top 30px
		right 0
		left 0
		background-color #FAFAFA
		border 1px solid #DEE0E9

		.pr-option
			display block
			padding 5px 10px
			border-bottom 1px solid #DEE0E9

		.pr-option:last-child
			border-bottom none

		.pr-option:not(.pr-select-all):before
			content ''
			width 16px
			height 16px
			font-size 0px
			line-height 20px
			margin-right 10px
			display inline-block
			transition all ease-in-out 0.2s

		.pr-option.checked:before
			content '✔'
			font-size 16px

		.pr-option.pr-select-all
			text-align right
			font-size 12px
			line-height 14px
			
		.pr-option.status-icon:after
			content ''
			display inline-table
			width 10px
			height 10px
			margin 5px 0 0
			float right
			border-radius 50%
			background-color #167F11
			
		.pr-option.status-icon.offline:after
			background-color #F35E57
			
		.pr-no-option
			text-align center
			padding 5px
			font-size 90%

	.pr-clear-selection:after
		content '✖'
		display inline-block
		width 20px
		background url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='9px' height='9px' viewBox='0 0 21.9 21.9'><path fill='#ABABAB' d='M14.1 11.3c-.2-.2-.2-.5 0-.7l7.5-7.5c.2-.2.3-.5.3-.7s-.1-.5-.3-.7L20.2.3c-.2-.2-.5-.3-.7-.3-.3 0-.5.1-.7.3l-7.5 7.5c-.2.2-.5.2-.7 0L3.1.3C2.9.1 2.6 0 2.4 0s-.5.1-.7.3L.3 1.7c-.2.2-.3.5-.3.7s.1.5.3.7l7.5 7.5c.2.2.2.5 0 .7L.3 18.8c-.2.2-.3.5-.3.7s.1.5.3.7l1.4 1.4c.2.2.5.3.7.3s.5-.1.7-.3l7.5-7.5c.2-.2.5-.2.7 0l7.5 7.5c.2.2.5.3.7.3s.5-.1.7-.3l1.4-1.4c.2-.2.3-.5.3-.7s-.1-.5-.3-.7l-7.5-7.5z'/></svg>") 8px 8px no-repeat
		line-height 28px
		padding 0 4px
		text-align center
		position absolute
		right 23px
		color transparent !important
		-webkit-text-fill-color transparent
		top 2px

	.pr-clear-selection:hover:after
		color #666

.pr-react-select:after
	content '▼'
	line-height 28px
	display inline-block
	transition all ease-in-out 0.2s
	position absolute
	top 0
	right 8px
	font-size 9px

.pr-react-select.open:after
	transform rotate(180deg)

.pr-react-select.open
	z-index auto

	.pr-options
		display block
		z-index 10

.pr-react-select.single
	background-color #FAFAFA
	border 1px solid #DEE0E9

	.pr-placeholder, .pr-selected-items
		line-height 28px

	.pr-options
		top 28px
		// left -1px
		// right -1px

.hellip
	overflow hidden
	white-space nowrap
	text-overflow ellipsis

.flex
	display flex
	align-items center

@media screen and (max-width 767px)
	.pr-react-select
		.pr-selected-items
			white-space inherit

		.pr-options
			position static

			.pr-option.hellip
				white-space inherit
			
@media screen and (max-width 1023px)
	.pr-react-select:after
		top 0

	.pr-react-select.open
		z-index 1 !important

	.pr-react-select
		z-index 0