@import "bootstrap.css"
@import "header.styl"
@import "custom.styl"
@import "loading-spinner.styl"
@import "toggle.styl"
@import "device-list.styl"
@import "custom-report.styl"
@import "react-custom-select.styl"
@import "debug.styl"
@import "date-time.styl"
@import "circle.styl"
@import "device-debug.styl"
@import "device-configuration.styl"
@import "spcb-debug.styl"
@import "dashboard.styl"
@import "data-push-status.styl"
@import "../../plugin/react-select/react-select"

.submenu-nav
	width 100%
	background-color #2C2F35
	margin-bottom 15px
	padding-top 50px
	box-shadow 0 1px 1px 1px #DDD
	
	.page-sub-menu
		display table
		margin 0 auto
		
		.flex
			height 40px
		
		.submenu-width
			width auto
			margin 0 5px
			font-size 16px
			
			a
				text-decoration none !important
				margin-left 10px
				outline none
				border-bottom none
				color #fff
				padding 8px
			
			a:hover, a:focus, a.active
				text-decoration none !important
				color #B6C9FF
				border-bottom none
			
			.padding-with-icon
				padding 8px 0px 6px 10px
				cursor pointer
				line-height 24px
				position relative
				color #fff
				border-bottom 2px solid transparent
				outline none
				
				svg
					position absolute
					top 13px
					left 4px
					margin-left 8px					
				
			.padding-with-icon:hover, :focus, .active
				color #B6C9FF
				border-bottom 2px solid #B6C9FF
				
			.padding-with-icon.active
				border-color #B6C9FF
				color #B6C9FF

		.submenu-width:hover, :focus
			svg
				fill #B6C9FF
			a
				text-decoration none !important
				color #B6C9FF
				border-bottom none
			
		.submenu-width:last-child
			border-right 0px

